body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.top-stories,
.date {
    display: flex;
    justify-content: center;
    color: #609b8c;
}

.top-stories {
    font-size: 60px;
}

.date {
    font-size: 30px
}